<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>Welcome to Yazua Games!</h1>
    <p>
      You have successfully signed up to Yazua Games.
      your username is: fitchburgh.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= 'https://google.com' %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
