<h1>Welcome to Quest Creator API!</h1>
<h3>You are probably looking for this page:</h3>
<h3>__URL__</h3>
<p>If you have questions about the game please contact us via <a href="https://github.com/Fitchburgh/forge">Forge Github</a></p>
