// Place all the styles related to the prelogin_users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.api_access {
  top: 5px;
  right: 5px;
  color: blue;
}

.yazuaLink {
  color: blue;
  text-decoration: underline;
}
