<button class="apiBtn"><h2>API Access</h2></button>
<button class="apiLoginBtn"><h2>API Login</h2></button><br /><br /><br />
<h1>Welcome to the Yazua Games API!</h1><br />
<h3>You are probably looking for this page:</h3><br />
<h1 class="yazuaLink"><a href="http://www.yazuadps.com">Yazua Games</a></h1><br />
<p>If you have questions about the API please contact us via <a class="links" href="https://github.com/Fitchburgh/forge">The Forge Github</a></p>
